body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
  
}

html{
  font-size: 20px;
}


.blue{
    color: skyblue;

}
.pink{
    color:rgb(255, 192, 203) ;
}
/*h1のフォントには、Googleフォント「Josefin Sans」 を使用してください。*/
.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;}


h1{
    font-size: 2rem;                                        /*h1のフォントサイズは、ルート要素の2倍になるようにしてください。*/
    font-family: "Josefin Sans", sans-serif;                                /*h1の総称フォントは、「sans-serif」 を使用してください。*/
    text-shadow: 3px 3px 4px gray;                        /*h1に影を付けてください。影の大きさや色は自由です。*/
    letter-spacing: 1.2em;                                  /*h1の文字間は、文字の大きさに対して1.2倍になるようにしてください。*/
    border-bottom: solid 3px rgb(115, 115, 114);        /*h1の下に3px（カラー：rgb(115, 115, 114)）の実線を付けてください。*/
}

#basic p{
    font-weight: bold;                         /*「侍太郎」「1990年1月1日」「O型」を太字にしてください。*/
}

